In [14]:
import networkx as nx
import numpy as np
import pandas as pd
import numbers
import math

In [45]:
travel_route = pd.read_csv("~/19Fall/Corona/data/travel_route.csv", parse_dates = ['date'])
patient_info = pd.read_csv("~/19Fall/Corona/data/PatientInfo.csv", parse_dates = ['confirmed_date'])

In [46]:
travel_route.head()

,patient_id,global_num,date,province,city,type,latitude,longitude
0,1000000001,2.0,2020-01-22,Gyeonggi-do,Gimpo-si,airport,37.615246,126.715632
1,1000000001,2.0,2020-01-24,Seoul,Jung-gu,hospital,37.567241,127.005659
2,1000000002,5.0,2020-01-25,Seoul,Seongbuk-gu,etc,37.592560,127.017048
3,1000000002,5.0,2020-01-26,Seoul,Seongbuk-gu,store,37.591810,127.016822
4,1000000002,5.0,2020-01-26,Seoul,Seongdong-gu,public_transportation,37.563992,127.029534

In [47]:
patient_info.head(50)

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infected_by,confirmed_date
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,NaN,2020-01-23
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,NaN,2020-01-30
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,2.002000e+09,2020-01-30
3,1000000004,7.0,male,1991.0,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,NaN,2020-01-30
4,1000000005,9.0,female,1992.0,20s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,1.000000e+09,2020-01-31
5,1000000006,10.0,female,1966.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,1.000000e+09,2020-01-31
6,1000000007,11.0,male,1995.0,20s,Korea,Seoul,Jongno-gu,NaN,contact with patient,1.000000e+09,2020-01-31
7,1000000008,13.0,male,1992.0,20s,Korea,Seoul,etc,NaN,overseas inflow,NaN,2020-02-02
8,1000000009,19.0,male,1983.0,30s,Korea,Seoul,Songpa-gu,NaN,overseas inflow,NaN,2020-02-05
9,1000000010,21.0,female,1960.0,60s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,1.000000e+09,2020-02-05
10,1000000011,23.0,female,1962.0,50s,China,Seoul,Seodaemun-gu,NaN,overseas inflow,NaN,2020-02-06
11,1000000012,24.0,male,1992.0,20s,Korea,Seoul,etc,NaN,overseas inflow,NaN,2020-02-07
12,1000000013,29.0,male,1938.0,80s,Korea,Seoul,Jongno-gu,NaN,contact with patient,1.000000e+09,2020-02-16
13,1000000014,30.0,female,1952.0,60s,Korea,Seoul,Jongno-gu,NaN,contact with patient,1.000000e+09,2020-02-16
14,1000000015,40.0,male,1943.0,70s,Korea,Seoul,Seongdong-gu,NaN,Seongdong-gu APT,NaN,2020-02-19
15,1000000016,56.0,male,1945.0,70s,Korea,Seoul,Jongno-gu,NaN,contact with patient,1.000000e+09,2020-02-19
16,1000000017,83.0,male,1944.0,70s,Korea,Seoul,Jongno-gu,NaN,contact with patient,1.000000e+09,2020-02-20
17,1000000018,111.0,male,2000.0,20s,Korea,Seoul,etc,NaN,etc,NaN,2020-02-20
18,1000000019,112.0,female,1941.0,70s,Korea,Seoul,Jongno-gu,NaN,contact with patient,1.000000e+09,2020-02-20
19,1000000020,121.0,female,1944.0,70s,Korea,Seoul,Seongdong-gu,NaN,Seongdong-gu APT,1.000000e+09,2020-02-20
20,1000000021,136.0,male,1936.0,80s,Korea,Seoul,Jongno-gu,NaN,contact with patient,1.000000e+09,2020-02-20
21,1000000022,161.0,male,1985.0,30s,Korea,Seoul,Seodaemun-gu,NaN,Eunpyeong St. Mary's Hospital,NaN,2020-02-21
22,1000000023,188.0,male,1961.0,50s,Korea,Seoul,Seocho-gu,NaN,Shincheonji Church,NaN,2020-02-21
23,1000000024,348.0,male,1980.0,40s,Korea,Seoul,Guro-gu,NaN,contact with patient,NaN,2020-02-22
24,1000000025,365.0,male,1958.0,60s,Korea,Seoul,Gangdong-gu,NaN,Eunpyeong St. Mary's Hospital,1.000000e+09,2020-02-22
25,1000000026,420.0,male,1986.0,30s,Korea,Seoul,Seocho-gu,NaN,etc,NaN,2020-02-22
26,1000000027,593.0,male,1968.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,NaN,2020-02-23
27,1000000028,627.0,female,1950.0,70s,Korea,Seoul,Jongno-gu,NaN,Eunpyeong St. Mary's Hospital,NaN,2020-02-23
28,1000000029,754.0,female,1995.0,20s,Korea,Seoul,Jongno-gu,NaN,Eunpyeong St. Mary's Hospital,1.000000e+09,2020-02-26
29,1000000030,755.0,male,1954.0,60s,China,Seoul,Gangdong-gu,NaN,Eunpyeong St. Mary's Hospital,NaN,2020-02-23
30,1000000031,780.0,male,1965.0,50s,Korea,Seoul,Songpa-gu,NaN,etc,NaN,2020-02-22
31,1000000032,787.0,male,1962.0,50s,Korea,Seoul,Seocho-gu,NaN,contact with patient,NaN,2020-02-23
32,1000000033,794.0,female,1970.0,50s,Korea,Seoul,Songpa-gu,NaN,contact with patient,1.000000e+09,2020-02-24
33,1000000034,797.0,male,2000.0,20s,Korea,Seoul,Songpa-gu,NaN,contact with patient,1.000000e+09,2020-02-24
34,1000000035,847.0,male,1984.0,30s,Korea,Seoul,etc,NaN,etc,NaN,2020-02-25
35,1000000036,870.0,female,1963.0,50s,Korea,Seoul,Eunpyeong-gu,NaN,Eunpyeong St. Mary's Hospital,NaN,2020-02-25
36,1000000037,887.0,female,1976.0,40s,Korea,Seoul,Songpa-gu,NaN,contact with patient,1.000000e+09,2020-02-25
37,1000000038,907.0,male,1953.0,60s,Korea,Seoul,etc,NaN,etc,NaN,2020-02-25
38,1000000039,924.0,female,1945.0,70s,China,Seoul,Geumcheon-gu,NaN,overseas inflow,NaN,2020-02-25
39,1000000040,935.0,female,1960.0,60s,Korea,Seoul,Gwanak-gu,NaN,overseas inflow,1.500000e+09,2020-02-25
40,1000000041,938.0,male,1968.0,50s,Korea,Seoul,Gangdong-gu,NaN,etc,NaN,2020-02-25
41,1000000042,996.0,male,1977.0,40s,Korea,Seoul,Nowon-gu,NaN,etc,NaN,2020-02-26
42,1000000043,1022.0,female,1995.0,20s,Korea,Seoul,Songpa-gu,NaN,overseas inflow,NaN,2020-02-26
43,1000000044,1027.0,male,1958.0,60s,Korea,Seoul,Dongjak-gu,NaN,contact with patient,NaN,2020-02-26
44,1000000045,1118.0,male,1979.0,40s,Korea,Seoul,Songpa-gu,NaN,contact with patient,1.000000e+09,2020-02-26
45,1000000046,1246.0,female,1999.0,20s,Korea,Seoul,etc,NaN,contact with patient,1.000000e+09,2020-02-26
46,1000000047,1247.0,male,1993.0,20s,Korea,Seoul,Gangnam-gu,NaN,Shincheonji Church,NaN,2020-02-26
47,1000000048,1253.0,female,1995.0,20s,Korea,Seoul,Eunpyeong-gu,NaN,etc,NaN,2020-02-26
48,1000000049,1254.0,male,1956.0,60s,Korea,Seoul,Eunpyeong-gu,NaN,Eunpyeong St. Mary's Hospital,NaN,2020-02-26
49,1000000050,1295.0,male,1994.0,20s,Korea,Seoul,Gwanak-gu,NaN,etc,NaN,2020-02-27

### class to calculate distance between two points

In [23]:
class get_dist:
   @staticmethod
   def degree2radius(degree):
        return degree * (math.pi/180)
   @staticmethod 
   def harversion_distance(x1, y1, x2, y2, round_decimal_digits = 5):
    if x1 is None or y1 is None or x2 is None or y2 is None:
        return None
    assert isinstance(x1, numbers.Number) and -180 <= x1 and x1 <= 180
    assert isinstance(y1, numbers.Number) and -90 <= y1 and y1 <= 90
    assert isinstance(x2, numbers.Number) and -180 <= x2 and x2 <= 180
    assert isinstance(y2, numbers.Number) and -90 <= y2 and y2 <= 90
    
    R = 6371
    dLon = get_dist.degree2radius(x2-x1)
    dLat = get_dist.degree2radius(y2-y1)
    
    a = math.sin(dLat/2) * math.sin(dLat/2)\
    + (math.cos(get_dist.degree2radius(y1))\
       * math.cos(get_dist.degree2radius(y2))\
       *math.sin(dLon/2) * math.sin(dLon/2))
    b = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    return round(R*b, round_decimal_digits)

### test

In [25]:
get_dist.harversion_distance(travel_route['longitude'][0], 
                             travel_route['latitude'][0],
                             travel_route['longitude'][1],
                             travel_route['latitude'][1])

26.10548

### create a network

In [48]:
patient_info['confirmed_date'] = pd.to_datetime(patient_info['confirmed_date'])

In [59]:
diff = patient_info['confirmed_date'][1] - patient_info['confirmed_date'][0]

In [61]:
print(pd.Timedelta(diff).days)

7

In [67]:
# create time index based on confirmed date
patient_info['idx_t'] = ""
for i in range(len(patient_info)):
        diff = patient_info['confirmed_date'][i] - patient_info['confirmed_date'][0]
        diff = pd.Timedelta(diff).days
        patient_info['idx_t'][i] = diff

/home/kh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
for n in range(0, len(df), 1):
  G.add_node(n,
             ind = df['ind'][n],
             ind_t = df['ind_t'][n], 
             date = df['date'][n],
             p = df['p'][n],
             n_killed = df['n_killed'][n],
             n_injured = df['n_injured'][n],
             LON = df['LON'][n],
             LAT = df['LAT'][n])

In [68]:
G = nx.DiGraph()
for n in range(len()):
    G.add_node(n,
               patient_id = patient_info['patient_id'],
               idx_t = patient_info['idx_t'],
               
              )

NameError: name 'n' is not defined