In [14]:
import networkx as nx
import numpy as np
import pandas as pd
import numbers
import math

In [15]:
travel_route = pd.read_csv("~/19Fall/Corona/data/travel_route.csv", parse_dates = ['date'])
patient_info = pd.read_csv("~/19Fall/Corona/data/PatientInfo.csv", parse_dates = ['confirmed_date'])

In [12]:
travel_route.head()

,patient_id,global_num,date,province,city,type,latitude,longitude
0,1000000001,2.0,2020-01-22,Gyeonggi-do,Gimpo-si,airport,37.615246,126.715632
1,1000000001,2.0,2020-01-24,Seoul,Jung-gu,hospital,37.567241,127.005659
2,1000000002,5.0,2020-01-25,Seoul,Seongbuk-gu,etc,37.592560,127.017048
3,1000000002,5.0,2020-01-26,Seoul,Seongbuk-gu,store,37.591810,127.016822
4,1000000002,5.0,2020-01-26,Seoul,Seongdong-gu,public_transportation,37.563992,127.029534

In [13]:
patient_info.head()

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infected_by,confirmed_date
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,NaN,2020-01-23
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,NaN,2020-01-30
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,2.002000e+09,2020-01-30
3,1000000004,7.0,male,1991.0,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,NaN,2020-01-30
4,1000000005,9.0,female,1992.0,20s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,1.000000e+09,2020-01-31

### class to calculate distance between two points

In [23]:
class get_dist:
   @staticmethod
   def degree2radius(degree):
        return degree * (math.pi/180)
   @staticmethod 
   def harversion_distance(x1, y1, x2, y2, round_decimal_digits = 5):
    if x1 is None or y1 is None or x2 is None or y2 is None:
        return None
    assert isinstance(x1, numbers.Number) and -180 <= x1 and x1 <= 180
    assert isinstance(y1, numbers.Number) and -90 <= y1 and y1 <= 90
    assert isinstance(x2, numbers.Number) and -180 <= x2 and x2 <= 180
    assert isinstance(y2, numbers.Number) and -90 <= y2 and y2 <= 90
    
    R = 6371
    dLon = get_dist.degree2radius(x2-x1)
    dLat = get_dist.degree2radius(y2-y1)
    
    a = math.sin(dLat/2) * math.sin(dLat/2)\
    + (math.cos(get_dist.degree2radius(y1))\
       * math.cos(get_dist.degree2radius(y2))\
       *math.sin(dLon/2) * math.sin(dLon/2))
    b = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    return round(R*b, round_decimal_digits)

### test

In [25]:
get_dist.harversion_distance(travel_route['longitude'][0], 
                             travel_route['latitude'][0],
                             travel_route['longitude'][1],
                             travel_route['latitude'][1])

26.10548

### create a network